{{define "browse"}}<!DOCTYPE HTML>
<html>
	<head>

		<title>Browse HTMLhouses</title>
		
		<link rel="stylesheet" type="text/css" href="/css/house.css" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" href="/img/favicon-chrome.png" sizes="192x192">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#888888" />

		<meta name="description" content="Browse HTMLhouses.">
		<meta name="application-name" content="HTMLhouse">
		<meta name="application-url" content="https://html.house">
		<meta itemprop="name" content="Browse HTMLhouses">
		<meta itemprop="description" content="">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@HTMLhouse">
		<meta name="twitter:title" content="Browse HTMLhouses">
		<meta name="twitter:description" content="">
		<meta property="og:title" content="Browse HTMLhouses" />
		<meta property="og:site_name" content="HTMLhouse" />
		<meta property="og:type" content="object" />
		<meta property="og:url" content="https://browse.html.house" />
		<meta property="og:description" content="" />

	</head>
	<body>
		
		<header>
			<h1>Browse HTMLhouse</h1>
			<nav>
				<a class="home" href="/">&lt;&#8962;/&gt;</a>
				<a class="current" href="/browse">browse</a>
				<a href="/about.html">about</a>
				<a href="/contact.html">contact</a>
			</nav>
		</header>

		{{ range .Houses }}<div class="open-house">
			<a href="/{{.ID}}.html"><img src="https://peeper.html.house/{{.ThumbURL}}" />
			<div class="house-name">{{.Title}}</div></a>
		</div>{{end}}

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.html.house"]);
  _paq.push(["setDomains", ["*.html.house"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.write.as/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.write.as/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
	</body>
</html>{{end}}
