{{define "stats"}}<!DOCTYPE HTML>
<html>
	<head>

		<title>{{.ID}}.html stats | HTMLhouse</title>
		
		<link rel="stylesheet" type="text/css" href="/css/house.css" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" href="/img/favicon-chrome.png" sizes="192x192">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#888888" />

		<meta name="description" content="Page stats for {{.ID}}.html">
		<meta name="application-name" content="HTMLhouse">
		<meta name="application-url" content="https://html.house">
		<meta itemprop="name" content="{{.ID}}.html stats | HTMLhouse">
		<meta itemprop="description" content="Page stats for {{.ID}}.html">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@HTMLhouse">
		<meta name="twitter:title" content="{{.ID}}.html stats | HTMLhouse">
		<meta name="twitter:description" content="Page stats for {{.ID}}.html">
		<meta property="og:title" content="{{.ID}}.html stats | HTMLhouse" />
		<meta property="og:site_name" content="HTMLhouse" />
		<meta property="og:type" content="object" />
		<meta property="og:url" content="https://html.house/stats/{{.ID}}.html" />
		<meta property="og:description" content="Page stats for {{.ID}}.html" />

	</head>
	<body>
		
		<header>
			<h1>{{.ID}}.html stats</h1>
			<nav>
				<a class="home" href="/">&lt;&#8962;/&gt;</a>
				<a href="/browse">browse</a>
				<a href="/about.html">about</a>
				<a href="/contact.html">contact</a>
			</nav>
			<a href="/{{.ID}}.html">view</a>
			<a href="/edit/{{.ID}}.html">edit</a>
		</header>

		<div id="wrapper">
			{{ range .Stats }}<div class="stat">
				<span class="num">{{.Data}}</span>
				<span class="label">{{.Label}}</span>
			</div>{{end}}
		</div>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.html.house"]);
  _paq.push(["setDomains", ["*.html.house"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.write.as/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.write.as/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
	</body>
</html>{{end}}
